---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Sobre Mim" sideBarActiveItemID="cv">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Sobre Mim</div>
    </div>

    <div class="mb-4 text-justify">
        Prazer, Bernardo Nogueira, 22 anos, brasileiro, atua como Tecnólogo em
        Gestão de Sistema de Informação na Fundação Estatal Saúde da Família.
        Graduando em Licenciatura em Matemática pelo IFBA. Formado em Análise e
        Desenvolvimento de Sistemas pela UniFatecie. Tecnólogo em Gastronomia
        pela UNIFACS (2022). Tenho paixão por trabalhar em equipe, colaborar com
        colegas e clientes, e estou animado para contribuir em projetos
        desafiadores.
    </div>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6 mt-0">
        <li>Gestão Ágil</li>
        <li>HTML & CSS</li>
        <li>Bootstrap 5</li>
        <li>JavaScript</li>
        <li>MySQL</li>
        <li>PHP</li>
        <li>Laravel 10</li>
        <li>Data Science</li>
        <li>Power BI</li>
        <li>Python & R</li>
    </ul>
<br>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Formação Acadêmica</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
            title="Técnico em Informática"
            subtitle="2016 - 2019, no CEEP ISAIAS ALVES, Salvador, Bahia"
        />
        <TimeLineElement
            title="Tecnólogo em Gastronomia"
            subtitle="2020 - 2022, na UNIFACS, Salavador, Bahia"
        />
        <TimeLineElement
            title="Licenciatura em Matemática"
            subtitle="2020 - 2025, no IFBA, Salavador, Bahia"
        />
        <TimeLineElement
            title="Tecnólogo em Analise e Desenvolvimento de Sistemas"
            subtitle="2022 - 2024, na UniFatecie, Salavador, Bahia"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experiência</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
            title="Técnico em manutenção de computadores | ABM"
            subtitle="Maio de 2019 à outubro de 2019, na  ABM Garcia Informática, Salvador, Bahia"
        >
            ABM é uma empresa de manutenção de equipamentos eletrônicos, meu
            dever com estagiário era: Realizar atividades de apoio na manutenção
            do sistema de rede da empresa; Realizava manutenção de computadores
            e notebooks; Empacotar mercadorias produtos e realizava envios;
            Realizar procedimentos de conferência de equipamentos, materiais e
            produtos no processo logístico; Organizar estoques de equipamentos,
            materiais e produtos; Realizava manutenção preventiva nos
            computadores da unidade; Orientar clientes em relação às
            mercadorias, produtos e serviços.
        </TimeLineElement>
        <TimeLineElement
            title="Técnico de tecnologia da informação | FESF SUS"
            subtitle="Maio de 2021 à maio de 2023, na  FESF SUS, Salvador, Bahia"
        >
            Atuando na Unidade de Saúde CIMEB, realizei diversas funções. Por
            atuar em vários setores, me tornei um profissional versátil, sabendo
            como funciona os setores e suas limitações; Minhas principais
            funções, como técnico da clínica:
            <br />Montagem e instalação de computadores;
            <br />Assistência na correção de defeitos ou falhas nas redes, ou
            equipamentos;
            <br />Desenvolvimento e instalação de ‘softwares’;
            <br />Desenvolvimento de sistemas para computadores;
            <br />Administrar Sistema AGHUse;
            <br />Orientar nos outros sistemas(CadSUS, AFSESAB, SIMPAS);
            <br />Desenvolvimento de análises de dados a partir do PyPandas.
            <br />Desenvolvimento de soluções para unidade.
        </TimeLineElement>
        <TimeLineElement
            title="Apoio Gestão Administrativa - TI | FESF SUS"
            subtitle="junho de 2023 até momento, na  FESF SUS, Salvador, Bahia"
        >
            Atuo na Diretoria Assistência Farmacêutica SAFTEC/SESAB, na função
            de Gestão de Sistema de Informação, minhas principais funções:
            <br />Gerir os projetos AFSESAB e SIGAF.
            <br />Realizar, planejar e executar implementações.
            <br />Realizar testes no sistema, a fim de reproduzir erros e buscar
            soluções.
            <br />Levantamento de requisitos para o sistema AFSESAB e SIGAF.
            <br />Desenvolvendo soluções para processos, mapeamento e análise de
            negócio.
            <br />Elabora a documentação técnica de especificação de requisitos.
            <br />Acompanhar o desempenho dos processos, controlando, otimizando
            e verificando se problema foi solucionado.
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Certificados</div>
    </div>

    <ul class="list-disc mx-6 mb-8 grid gap-2">
        <li>
            <a
                href="https://drive.google.com/file/d/1gTA--uCNh-EhXrxokw1pD8ko_K3vDFfU/view?usp=share_link"
                target="_blank"
                >Redes de Computadores | FESF
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1SNHqoa4QM9OhIaqL2zIEPsrM45EmA8te/view?usp=sharing"
                target="_blank"
                >HTML E CSS | B7Web
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1ar48iGFF9ngMekKI-mnX90x5oDTQAX8T/view?usp=share_link"
                target="_blank"
                >Javascript | B7Web
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1KiEP9LKmuOW3_EhSBP-cuURY__x0bTBz/view?usp=sharing"
                target="_blank"
                >Bootstrap 4 | B7Web
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1aurikr1Ka-rtoF4tyLcy_wvz9nu5shLP/view?usp=share_link"
                target="_blank"
                >Banco de Dados | B7Web
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1vteRAO9n6OVPIImDq0UqVI5FeYMWiSo3/view?usp=share_link"
                target="_blank"
                >Planejamento e Gestão de Projetos | Udemy
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1rHpA9meDYzWU52JO6YCKnkgCn2K8TU5s/view?usp=share_link"
                target="_blank"
                >Power BI - Aprimoramento da Gestão | ENAP
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1rMBa5ra60dgrfmYIL4tMD_w9HQUldL19/view?usp=sharing"
                target="_blank">Latex | UFVJM</a
            >
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1LEDGuXmuENzT3zoUI7k6GXZAOMNs2Sua/view?usp=share_link"
                target="_blank"
                >Python | Udemy
            </a>
        </li>
        <li>
            <a
                href="https://drive.google.com/file/d/1a00VWy4BRTNK-G-N3ac6oJsjMhIcLk4l/view?usp=sharing"
                target="_blank"
                >R para Ciência de Dados | UFBA
            </a>
        </li>
    </ul>

</BaseLayout>
