---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hello 👋</div>
        <div class="text-5xl font-bold">Prazer, Bernardo Nogueira!</div>
        <div class="text-3xl py-3 font-bold">Analista de Requisitos</div>
        <div class="py-2">
            <div class="text-sm breadcrumbs mt-0 pt-0">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/bernardo.nogueira8/">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/bernardo-nogueira8/"
                        >
                            LinkedIn</a
                        >
                    </li>
                    <li>
                        <a href="https://github.com/Samuraiflamesf/"> Github</a>
                    </li>
                    <li>
                        <a href="http://lattes.cnpq.br/2821332349062913">
                            Lattes</a
                        >
                    </li>
                    <li><a href="#"> ApenasUmPrato</a></li>
                    <li>Astro</li>
                </ul>
            </div>
            <text class="text-lg">
                Sou um profissional de tecnologia com habilidades em Power BI,
                R, Python, HTML, CSS, Bootstrap 5, JavaScript, MySql, PHP e
                Laravel. Estou sempre em busca de novas maneiras de aplicar
                minhas habilidades e conhecimentos em soluções inovadoras,
                exemplo esté site é feito em "Astro". Tenho paixão por trabalhar
                em equipe, colaborar com colegas e clientes, e estou animado
                para contribuir em projetos desafiadores.
            </text>
        </div>
        <a
            href="https://github.com/manuelernestog/astrofy"
            target="_blank"
            class="btn btn-outline"
        >
            Git do Projeto
        </a>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-2">
            Ultimos Projetos {"</>"}
        </div>
    </div>

    {
        last_posts.map((post) => (
            <>
                <HorizontalCard
                    title={post.data.title}
                    img={post.data.heroImage}
                    desc={post.data.description}
                    url={"/blog/" + createSlug(post.data.title, post.slug)}
                    target="_self"
                    badge={post.data.badge}
                />
                <div class="divider my-0" />
            </>
        ))
    }
</BaseLayout>
